.background {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conversionBox {
    display: flex;
    width: 50%;
    height: 60%;
    border: 3px solid teal;
    border-radius: 8px;
    /* font-family: 'Times New Roman', Times, serif; */

}

.innerSection {
    width: 100%;
    /* padding:0px 20px;  */

}

.inputSection {
    width: 80%;
    margin: auto;
    color: teal;
    /* font-weight: bold; */

}

.inputSectionHeader {
    font-size: 25px;
    margin-top: 40px;
    font-weight: 600;
}
.label{
    margin-top: 40px;
    font-weight: 600;
}

input {
    width: 80%;
    padding: 8px 0px;
    border: 1px solid lightslategray;
    border-radius: 3px;
    margin-top: 10px;
}

.selectOptions {
    width: 19%;
    padding: 8px 0px;
    border: 1px solid lightslategray;
    border-radius: 3px;

}
.innerSelectOption{
    width:100%;
    padding: 8px 0px;
    border: 1px solid lightslategray;
    border-radius: 3px;
    margin-top: 10px;

}
button{
    background-color: teal;
    padding:10px 25px;
    color: white;
    border-radius: 25px;
    text-align: center;
    font-size: 15px;
    border: none;
}
.InnerButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.outerSection {
    background-color: teal;
    color: white;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outerSectionText{
    font-size: 25px;
    font-weight: bold;
}